<px-card header-text="Add Deviation Codes">
    <div class="layout">
        <div class="layout__item">
            <table>
<tr>

            <td style="text-align: right"><label for="" >Code</label></td>
          <td> <input type="text" style="width: 100%"/></td>
</tr>
            <tr>


                       <td style="text-align: right"> <label for="" >High Level Code</label></td>
                       <td> <select name="level Code" style="width: 100%">
                           <option value="A">A</option>
                           <option value="C">C</option>
                           <option value="D">D</option>
                           <option value="H">H</option>
                           <option value="M">M</option>
                           <option value="O">O</option>
                           <option value="P">P</option>
                           <option value="S">S</option>
                           <option value="T">T</option>
                           <option value="Z">Z</option>

                       </select>
                       </td>
            </tr>

            </table>
            <div class="layout pull-right">
                <div class="layout__item ">
                    <a href="" class="btn">Ok</a>
                    <a href="#deviationCode" class="btn">Cancel</a>
                </div>
            </div>

    </div>


</px-card>
