<px-card header-text="Add Area">
    <div class="layout">
        <div class="layout__item">
            <table>
                <tr>
           <td colspan="2"> <label for="">Area</label></td>
                    <td colspan="6"><input type="text" /></td>

                </tr>
                <tr>
                    <td><label for="">Mandatory S/O</label></td></td>
                    <td><input type="checkbox" /></td>
                    <td></td>
                    <td>PreNotification</td>
                    <td><input type="checkbox" /></td>
                    <td></td>
                    <td>Notification</td>
                    <td><input type="checkbox" /></td>
                </tr>
            </table>
        </div>
    </div>
    <hr/>
    <div class="layout pull-right">
        <div class="layout__item ">
            <a href="" class="btn">Ok</a>
            <a href="#manageAreas" class="btn">Cancel</a>
        </div>
    </div>
</px-card>
