<px-card header-text="Administration">
    <style>
        .layout__item {
            padding: 3px;
        }

        .layout__item>a:hover {
            color: #46AD00 !important;
        }
    </style>
    <div id="module_loadData">
        <div class="layout">
            <div class="layout__item u-1/3"><a href="#/manageUser">Manage Users</a></div>
            <div class="layout__item u-1/3"><a href="#/managePrivileges">Manage Privileges</a></div>
            <div class="layout__item u-1/3"><a href="#/manageComponents">Manage Components</a></div>
        </div>
        <div class="layout">
            <div class="layout__item u-1/3"><a href="#/manageRoles">Manage Roles</a></div>
            <div class="layout__item u-1/3"><a href="#/manageQueues">Manage Queues</a></div>
            <div class="layout__item u-1/3"><a href="#/manageAreas">Manage Areas</a></div>
        </div>
        <div class="layout">
            <div class="layout__item u-1/3"><a href="#/manageSites">Manage Sites</a></div>
            <div class="layout__item u-1/3"><a href="#/manageSitesComps">Manage Sites Components</a></div>
        </div>
    </div>
</px-card>
<px-card header-text="Manage Codes">
    <div class="layout">
        <div class="layout__item u-1/3">
            <a href="#deviationCode">Deviation Codes</a>
        </div>
        <div class="layout__item u-1/3">
            <a href="#featureCode">Features Codes</a>
        </div>
        <div class="layout__item u-1/3">
            <a href="#operationCode">Operation Codes</a>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item u-1/3">
            <a href="#frameCode">Frame Codes</a>
        </div>
        <div class="layout__item u-1/3">
            <a href="#inspectionCode">Inspection Station Codes</a>
        </div>
        <div class="layout__item u-1/3">
            <a href="#locationCode">Location Codes</a>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item u-1/3">
            <a href="#productCode">Product Codes</a>
        </div>
        <div class="layout__item u-1/3">
            <a href="#causeCode">Cause Codes</a>
        </div>
        <div class="layout__item u-1/3">
            <a href="#areaCode">Area Codes</a>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item"><a href="#caCode">C/A Codes</a></div>
    </div>
</px-card>
<px-card header-text="System Administration" class="ng-scope">
    <div class="layout__item"><a href="">Logged In Users</a></div>
    <div class="layout__item"><a href="#fileUpload">Attachments</a></div>
</px-card>
</section>
