<px-card header-text="C/A Type Codes Code List">
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            border: 1px solid black;
        }

        table,


        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: left;
            border: 1px solid black;
        }

        tbody>tr td:first-child {
            color: #3573c5 !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="layout" style="width: 60%" >
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addcaCode">Add</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="">Delete</a></span>
        </div>
    </div>
    <div class="layout" style="width:60%">
        <div class="layout__item" style="overflow-y: scroll;height:300px ">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th>Code</th>
                    <th> Value</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="#editcaCode">DCI/AN </a> </td>
                    <td>DCI/AN</td>
                </tr>
                <tr>
                    <td>Drawing</td>
                    <td>Drawing</td>

                </tr>
                <tr>
                    <td>Engneering</td>
                    <td>Engneering</td>

                </tr>
                <tr>
                    <td>Equipment</td>
                    <td>Equipment</td>

                </tr>
                <tr>
                    <td>General</td>
                    <td>General</td>

                </tr>
                <tr>
                    <td>Measurement</td>
                    <td>Measurement</td>

                </tr>
                <tr>
                    <td>Method</td>
                    <td>Method</td>

                </tr>
                <tr>
                    <td>Operator</td>
                    <td>Operator</td>

                </tr>
                <tr>
                    <td>Other Area/Shop</td>
                    <td>Other Area/Shop</td>

                </tr>
                <tr>
                    <td>Planning</td>
                    <td>Planning</td>

                </tr>
                <tr>
                    <td>Process</td>
                    <td>Process</td>

                </tr>
                <tr>
                    <td>Programming</td>
                    <td>Programming</td>
                </tr>
                <tr>
                    <td>Record Only</td>
                    <td>Record Only</td>

                </tr>
                <tr>
                    <td>Sourcing</td>
                    <td>Sourcing</td>

                </tr>
                <tr>
                    <td>Record Only</td>
                    <td>Record Only</td>

                </tr>
                <tr>
                    <td>Record Only</td>
                    <td>Record Only</td>

                </tr>
                <tr>
                    <td>Sourcing</td>
                    <td>Sourcing</td>

                </tr>
                <tr>
                    <td>Tracebility</td>
                    <td>Tracebility</td>

                </tr>
                </tbody>
            </table>
            <div >Count :100</div>
        </div>
    </div>
</px-card>
