
<px-card header-text="Change Password">
    <div class="layout">
        <div class="layout__item">
            <table>
                <tr>
                   <td> <label for=""></label></td>
                    <td><label for="">10504145</label></td>
                </tr>
                <tr>
                    <td> <label for="">New Password</label></td>
                    <td>  <input type="password" style="width: 100%" value=""/></td>
                </tr>
                <tr>
                    <td> <label for="">Confirm Password</label></td>
                    <td>  <input type="password" style="width: 100%" value=""/></td>
                </tr>
            </table>


        </div>
    </div>
    <hr/>
    <div class="layout fa-pull-right">
        <div class="layout__item " style="align-content: right">
            <a href="" class="btn">Ok</a>
            <a href="#locationCode" class="btn">Cancel</a>
        </div>
    </div>

</px-card>
