<px-card>
    <div class="layout">
        <div class="layout__item">
            <h4>Please select the fields you want copied:</h4>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item">
            <input type="checkbox">
            <label for="">Deviation Description</label>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item">
            <input type="checkbox">
            <label for="">Disposition Description</label>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item">
            <input type="checkbox">
            <label for="">Responsibility</label>
        </div>
    </div>
    <hr>
    <div class="layout">
        <div class="layout__item u-1/2">
            <button>Ok</button>
        </div>
        <div class="layout__item u-1/2">
            <div class="float--right">
                <button>Cancel</button>
            </div>
        </div>
    </div>
</px-card>
