<div class="col-md-12 pad-0">
    <div class="col-md-12 ">
        <div class="page-header">
            <h3>Event Profile</h3>
        </div>
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF;padding:7px"></div>
    <div class="col-md-12">
        <div style="overflow-x:scroll">
            <table class="table table-striped table-bordered table-strips table-condensed fontReduce">
                <tr>
                    <th width="30%">Contract Year</th>
                    <th>2015</th>
                    <th>2016</th>
                    <th>2017</th>
                    <th>2018</th>
                    <th>2019</th>
                    <th>2020</th>
                </tr>
                <tr>
                    <td><b>AvgOfShop_Visits</b></td>
                    <td class="repeat AvgOfShop_Visits">0.003432494</td>
                    <td class="repeat AvgOfShop_Visits">0.010297483</td>
                    <td class="repeat AvgOfShop_Visits">0.004576659</td>
                    <td class="repeat AvgOfShop_Visits">0.008009153</td>
                    <td class="repeat AvgOfShop_Visits">0.010297483</td>
                    <td class="repeat AvgOfShop_Visits">0.00228833</td>
                </tr>
                <tr>
                    <td><b>AvgOfEFH</b></td>
                    <td class="repeat AvgOfEFH">300.465465</td>
                    <td class="repeat AvgOfEFH">1803.685543</td>
                    <td class="repeat AvgOfEFH">1799.32436</td>
                    <td class="repeat AvgOfEFH">1799.144041</td>
                    <td class="repeat AvgOfEFH">1798.439435</td>
                    <td class="repeat AvgOfEFH">1804.638099</td>
                </tr>
                <tr>
                    <td><b>AvgOfefh_rest_nq</b></td>
                    <td class="repeat AvgOfefh_rest_nq">0.159888903</td>
                    <td class="repeat AvgOfefh_rest_nq">5.756127732</td>
                    <td class="repeat AvgOfefh_rest_nq">6.832131092</td>
                    <td class="repeat AvgOfefh_rest_nq">20.11403526</td>
                    <td class="repeat AvgOfefh_rest_nq">32.6407058</td>
                    <td class="repeat AvgOfefh_rest_nq">9.362545177</td>
                </tr>
                <tr>
                    <td><b>AvgOfMaterial_Costs</b></td>
                    <td class="repeat AvgOfMaterial_Costs">1275.741144</td>
                    <td class="repeat AvgOfMaterial_Costs">566.9960641</td>
                    <td class="repeat AvgOfMaterial_Costs">992.2431121</td>
                    <td class="repeat AvgOfMaterial_Costs">1275.741144</td>
                    <td class="repeat AvgOfMaterial_Costs">283.498032</td>
                    <td class="repeat AvgOfMaterial_Costs">566.9960641</td>
                </tr>
                <tr>
                    <td><b>AvgOfNewMaterial_Costs</b></td>
                    <td class="repeat AvgOfNewMaterial_Costs">1207.079073</td>
                    <td class="repeat AvgOfNewMaterial_Costs">536.4795881</td>
                    <td class="repeat AvgOfNewMaterial_Costs">938.8392792</td>
                    <td class="repeat AvgOfNewMaterial_Costs">1207.079073</td>
                    <td class="repeat AvgOfNewMaterial_Costs">268.2397941</td>
                    <td class="repeat AvgOfNewMaterial_Costs">536.4795881</td>
                </tr>
                <tr>
                    <td><b>AvgOfUsedMaterial_Costs</b></td>
                    <td class="repeat AvgOfUsedMaterial_Costs">1207.079073</td>
                    <td class="repeat AvgOfUsedMaterial_Costs">536.4795881</td>
                    <td class="repeat AvgOfUsedMaterial_Costs">938.8392792</td>
                    <td class="repeat AvgOfUsedMaterial_Costs">1207.079073</td>
                    <td class="repeat AvgOfUsedMaterial_Costs">268.2397941</td>
                    <td class="repeat AvgOfUsedMaterial_Costs">536.4795881</td>
                </tr>
                <tr>
                    <td><b>AvgOfLocalPurchaseMaterial_Costs</b></td>
                    <td class="repeat AvgOfLocalPurchaseMaterial_Costs">44.43930206</td>
                    <td class="repeat AvgOfLocalPurchaseMaterial_Costs">19.75080092</td>
                    <td class="repeat AvgOfLocalPurchaseMaterial_Costs">34.5639016</td>
                    <td class="repeat AvgOfLocalPurchaseMaterial_Costs">44.43930206</td>
                    <td class="repeat AvgOfLocalPurchaseMaterial_Costs">9.875400458</td>
                    <td class="repeat AvgOfLocalPurchaseMaterial_Costs">19.75080092</td>
                </tr>
                <tr>
                    <td><b>AvgOfLabor_Hours</b></td>
                    <td class="repeat AvgOfLabor_Hours">24.22276888</td>
                    <td class="repeat AvgOfLabor_Hours">10.76567506</td>
                    <td class="repeat AvgOfLabor_Hours">18.83993135</td>
                    <td class="repeat AvgOfLabor_Hours">24.22276888</td>
                    <td class="repeat AvgOfLabor_Hours">5.382837529</td>
                    <td class="repeat AvgOfLabor_Hours">10.76567506</td>
                </tr>
                <tr>
                    <td><b>AvgOfLabor_Cost</b></td>
                    <td class="repeat AvgOfLabor_Cost">12.75858124</td>
                    <td class="repeat AvgOfLabor_Cost">5.670480549</td>
                    <td class="repeat AvgOfLabor_Cost">9.923340961</td>
                    <td class="repeat AvgOfLabor_Cost">12.75858124</td>
                    <td class="repeat AvgOfLabor_Cost">2.835240275</td>
                    <td class="repeat AvgOfLabor_Cost">5.670480549</td>
                </tr>
                <tr>
                    <td><b>AvgOfComponent_Repair_Cost</b></td>
                    <td class="repeat AvgOfComponent_Repair_Cost">714.4520252</td>
                    <td class="repeat AvgOfComponent_Repair_Cost">317.5342334</td>
                    <td class="repeat AvgOfComponent_Repair_Cost">555.6849085</td>
                    <td class="repeat AvgOfComponent_Repair_Cost">714.4520252</td>
                    <td class="repeat AvgOfComponent_Repair_Cost">158.7671167</td>
                    <td class="repeat AvgOfComponent_Repair_Cost">317.5342334</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF;padding:7px"></div>
    <div class="col-md-12">
        <div class="col-md-10 pad-0">
        </div>
        <div class="col-md-2 pad-0">
            <a type="button" href="#/ppfInfo" class="btn btn-primary btn-sm pull-left"><i class="fa  fa-chevron-left"> &nbsp;</i>Back</a>
            <a href="#/engineService/{{quoteID}}" class="btn btn-primary btn-sm pull-right">Next &nbsp;<i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="col-md-12" style="background-color:#FFFFFF;padding:7px"></div>
</div>
