<px-card header-text="Edit Site">
    <div class="layout">
        <div class="layout__item">
            <table style="width: 900px; align-content: center">
                <tr>
                    <td>
                        <label for="" style="width: 100%">Name</label></td>
                    <td><input type="text" style="width: 50%" ng-disabled="true" value="Florence, Italy"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" style="width: 100%">Code</label></td>
                    <td><input type="text" style="width: 50%" ng-disabled="true" value="F"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" style="width: 100%">Ciment Login</label></td>
                    <td><input type="text" style="width: 50%" value="cim_app"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" style="width: 100%">Ciment DataSource</label></td>
                    <td> <input type="text" style="width: 50%" value="ciment_db"/>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 100%">New Password</label></td>

                    <td> <input type="password" style="width: 50%" value=""/>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 100%">Confirm Password</label></td>

                    <td> <input type="password" style="width: 50%" value=""/>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td> <label for="" style="width: 100%">Component Mandatory at QCR Initiation</label></td>

                    <td> <input type="checkbox" />
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 100%">Rework Hourly Rate</label></td>

                    <td> <input type="password" style="width: 50%" value=""/>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 100%">BUC Code</label></td>

                    <td> <input type="password" style="width: 50%" value=""/>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 100%">Legal Entity</label></td>

                    <td> <input type="text" style="width: 50%" value="CO2"/>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <hr/>

</px-card>
<px-card header-text=" Vendor Bill Back Codes">

    <div class="layout" style="width:60%">
        <table>

            <thead >
            <tr >
                <th>Type</th>
                <td></td>
                <th>Account Number</th>
                <td></td>
                <th align="right">Component Code</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Rwk/Rpr</td>
                <td></td>
                <td><input type="text" value="050217" /></td>
                <td></td>
                <td>
                    <select name="level Code" >
                        <option value="" selected>M- Manufacturing</option>
                        <option value="">I- Inventory</option>
                        <option value="">O-Operation</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>Rwk/Rpr</td>
                <td></td>
                <td><input type="text" value="050217" /></td>
                <td></td>
                <td>
                    <select name="level Code" >
                        <option value="" selected>M- Manufacturing</option>
                        <option value="">I- Inventory</option>
                        <option value="">O-Operation</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>Rwk/Rpr</td>
                <td></td>
                <td><input type="text" value="050217" /></td>
                <td></td>
                <td>
                    <select name="level Code" >
                        <option value="" selected>M- Manufacturing</option>
                        <option value="">I- Inventory</option>
                        <option value="">O-Operation</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>Rwk/Rpr</td>
                <td></td>
                <td><input type="text" value="050217" /></td>
                <td></td>
                <td>
                    <select name="level Code" >
                        <option value="" selected>M- Manufacturing</option>
                        <option value="">I- Inventory</option>
                        <option value="">O-Operation</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>Rwk/Rpr</td>
                <td></td>
                <td><input type="text" value="050217" /></td>
                <td></td>
                <td>
                    <select name="level Code" >
                        <option value="" selected>M- Manufacturing</option>
                        <option value="">I- Inventory</option>
                        <option value="">O-Operation</option>

                    </select>
                </td>
            </tr>


            </tbody>
        </table>

    </div>
    </div>
    <div class="layout pull-right">
        <div class="layout__item ">
            <a href="" class="btn">Ok</a>
            <a href="#manageSites" class="btn">Cancel</a>
        </div>
    </div>
</px-card>
