<px-card header-text="Edit User">
    <div class="layout">
        <div class="layout__item">
            <table style="width: 900px; align-content: center">
                <tr>
                    <td>
                        <label for="" style="width: 100%">Login</label></td>
                    <td><input type="text" style="width: 50%" value="105041445"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" style="width: 100%">Email</label></td>
                    <td><input type="text" style="width: 50%" value="godishala.N@ge.com"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" style="width: 100%">Last Name</label></td>
                    <td><input type="text" style="width: 50%" value="Godishala"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" style="width: 100%">First Name</label></td>
                    <td> <input type="text" style="width: 50%" value="NagaRaju"/>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 100%">Default Queue</label></td>

                    <td> <input type="text" style="width: 50%" value="GT Engineer"/>
                    </td>
                </tr>
                <tr>



                    <td> <label for="" style="width: 50%">User Type</label></td>
                    <td>
                        <select name="level Code" style="width: 50%" >
                            <option value="A" selected>A(Assembly Error / Fitup / Machined)</option>
                            <option value="C">C(Cosmetic/Damage)</option>
                            <option value="D">D(Documentation)</option>
                            <option value="H">H(Preservation/Storage/Handling)</option>
                            <option value="M">M(Metalurgical Material)</option>
                            <option value="O">O(Dimensional Out Of Tolerance)</option>
                            <option value="P">P(Incomplete Operation Process)</option>
                            <option value="S">S(Special Process(Welding))</option>
                            <option value="T">T(Functional Test)</option>
                            <option value="Z">Z(Supplier Suggestion)</option>
                            <option value="Z">E(Electrical)</option>

                        </select>
                    </td>
                </tr>
                <tr>



                    <td> <label for="" style="width: 50%">Language</label></td>
                    <td>
                        <select name="level Code" style="width: 50%">
                            <option value="" selected>English-United States</option>
                            <option value="">Italian-Italy</option>
                            <option value="">French-France</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 50%">Site</label></td>
                    <td>
                        <select name="level Code" style="width: 50%">
                            <option value="" selected>Florence-Italy</option>
                            <option value="">Massa-Italy</option>
                            <option value="">Global Services-Italy</option>
                            <option value="">Livorno-Italy</option>
                            <option value="">Bali-Italy</option>
                            <option value="">Brasil</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 25%">CimentLogin</label><input type="checkbox" style="width: 25%" /></td>
                    <td>
                        <input type="text" style="width: 50%"/>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 50%">Emp#</label></td>
                    <td>
                        <input type="text" style="width: 50%"/>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 50%">Component</label></td>
                    <td>
                        <select name="level Code" style="width: 50%">
                            <option value="">(none)</option>
                            <option value="">OLD 701</option>
                            <option value="">OLD 702</option>
                            <option value="">OLD 703</option>
                            <option value="">OLD 704</option>
                            <option value="">OLD 705</option>
                            <option value="">011</option>
                            <option value="">012</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label for="" style="width: 50%">Start Page</label></td>
                    <td>
                        <select name="level Code" style="width: 50%">
                            <option value="">Creating QCR</option>
                            <option value="">Administration</option>
                            <option value="">Regular Reports</option>
                            <option value="">Search</option>
                            <option value="">ADHOC Reports</option>
                            <option value="">History</option>
                            <option value="">Re-Open QCR</option>
                            <option value="">History</option>
                        </select>
                    </td>
                </tr>
                <tr>
                </tr>
                <tr>
                </tr>
               <!-- <tr>
                    <td align="center"><a href="#chngPwd">Change Password</a> </td>
                </tr>-->

            </table>
        </div>
    </div>
    <hr/>
    <div class="layout pull-right">
        <div class="layout__item ">
            <a href="" class="btn">Ok</a>
            <a href="#manageUser" class="btn">Cancel</a>
        </div>
    </div>
</px-card>
<px-card header-text="Queues">

    <div class="layout" style="width:60%">
        <table style="border:1px solid black;width:50%">

            <thead >
            <tr >
                <th></th>
                <th></th>
                <th align="right"><a href="#addUsrQueRl">Add</a><a href="">Delete</a> </th>
            </tr>
            </thead>
            <thead >
            <tr style="background-color:#C4BCBC;">
                <th></th>
                <th>Queue</th>
                <th> Role</th>


            </tr>
            </thead>

            <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>GT Engineer</td>
                <td>GT Engineer</a> </td>
            </tr>


            </tbody>
        </table>

    </div>
    </div>
</px-card>
