<px-card header-text="Edit Cause Codes">
    <div class="layout">
        <table>
            <tr>

                <td style="text-align: right"><label for="" >Code</label></td>
                <td> <input type="text" style="width: 100%" value="A002"/></td>
            </tr>
            <tr>


                <td style="text-align: right"> <label for="" >High Level Code</label></td>
                <td> <select name="level Code" style="width: 100%">
                    <option value="A">A(Assembly Error / Fitup / Machined)</option>
                    <option value="C">C(Cosmetic/Damage)</option>
                    <option value="D">D(Documentation)</option>
                    <option value="H">H(Preservation/Storage/Handling)</option>
                    <option value="M">M(Metalurgical Material)</option>
                    <option value="O">O(Dimensional Out Of Tolerance)</option>
                    <option value="P">P(Incomplete Operation Process)</option>
                    <option value="S">S(Special Process(Welding))</option>
                    <option value="T">T(Functional Test)</option>
                    <option value="Z">Z(Supplier Suggestion)</option>
                    <option value="Z">E(Electrical)</option>

                </select>
                </td>
            </tr>

        </table>
    </div>
    <hr/>
    <div class="layout pull-right">
        <div class="layout__item ">
            <a href="" class="btn">Ok</a>
            <a href="#deviationCode" class="btn">Cancel</a>
        </div>
    </div>
    <px-card header-text="Language value A002">

        <div class="layout" style="width:60%">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th>Language</th>
                    <th> Value</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>English-United States </td>
                    <td>Assembly FitUp-Wrong</td>
                    <td><a href="">edit</a> </td>
                </tr>
                <tr>
                    <td>Italian-Italy</td>
                    <td>Assembly FitUp-Wrong parts Components</td>
                    <td><a href="">edit</a> </td>

                </tr>
                <tr>
                    <td>France-France</td>
                    <td>Preparation Montage</td>
                    <td><a href="">edit</a> </td>

                </tr>


                </tbody>
            </table>

        </div>
        </div>
    </px-card>
</px-card>
