<px-card header-text="Edit C/A Types Codes">
    <div class="layout">
        <div class="layout__item">
            <label for="">Code</label>
            <input type="text" style="width: 50%" value="DCI/AN"/>
        </div>
    </div>
    <hr/>
    <div class="layout pull-right">
        <div class="layout__item ">
            <a href="" class="btn">Ok</a>
            <a href="#caCode" class="btn">Cancel</a>
        </div>
    </div>
    <px-card header-text="Language value for 02 ">

        <div class="layout" style="width:60%">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th>Language</th>
                    <th> Value</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>English-United States </td>
                    <td>DCI/AN</td>
                    <td><a href="">edit</a> </td>
                </tr>
                <tr>
                    <td>Italian-Italy</td>
                    <td>DCI/AN</td>
                    <td><a href="">edit</a> </td>

                </tr>
                <tr>
                    <td>France-France</td>
                    <td>DCI/AN(Fr)</td>
                    <td><a href="">edit</a> </td>

                </tr>


                </tbody>
            </table>

        </div>
        </div>
    </px-card>
</px-card>
