<px-card header-text="Edit Component" >



    <px-card header-text="Assigned Areas">


            <div class="layout"  style="width: 60%">
                <div class="layout__item"  >
                    <a href="" style="float: right;">Unassign</a>
                </div>
            </div>
        <div class="layout" style="width:60%">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th></th>
                    <th> Area</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><input type="checkbox"> </td>
                    <td>Cell/Start</td>

                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Cell Fabrication</td>

                </tr>


                </tbody>
            </table>

        </div>
        </div>
    </px-card>
    <px-card header-text="UnAssigned Areas">

        <div class="layout"  style="width: 60%">
            <div class="layout__item"  >
                <a href="" style="float: right;">Assign</a>
            </div>
        </div>
        <div class="layout" style="width:60%">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th></th>
                    <th> Area</th>

                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><input type="checkbox"> </td>
                    <td>Cell</td>

                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Cell Start</td>

                </tr>


                </tbody>
            </table>

        </div>
        </div>
    </px-card>
</px-card>
