<px-card header-text="Feature Codes Code List">
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            border: 1px solid black;
        }

        table,


        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: left;
            border: 1px solid black;
        }

        tbody>tr td:first-child {
            color: #3573c5 !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="layout" style="width: 60%" >
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addfeatureCode">Add</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="">Delete</a></span>
        </div>
    </div>
    <div class="layout" style="width:60%">
        <div class="layout__item" style="overflow-y: scroll;height:300px ">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th>Code</th>
                    <th> Value</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="#editfeaturecode">AC -  NAME PALTE SUPPORTS</a> </td>
                    <td>AC -  NAME PALTE SUPPORTS</td>
                </tr>
                <tr>
                    <td>AC - AIR BUFFERING (CORRUGATED PLATE)</td>
                    <td>AC - AIR BUFFERING (CORRUGATED PLATE)</td>

                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>AC -  NAME PALTE SUPPORTS</td>
                    <td>AC -  NAME PALTE SUPPORTS</td>

                </tr>
                <tr>
                    <td>AC - AIR BUFFERING (CORRUGATED PLATE)</td>
                    <td>AC - AIR BUFFERING (CORRUGATED PLATE)</td>

                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>AC -  NAME PALTE SUPPORTS</td>
                    <td>AC -  NAME PALTE SUPPORTS</td>

                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>AC -  NAME PALTE SUPPORT</td>
                    <td>AC -  NAME PALTE SUPPORT</td>

                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>AC -  NAME PALTE SUPPORT</td>
                    <td>AC -  NAME PALTE SUPPORT</td>

                </tr>
                <tr>
                    <td>AC -  NAME PALTE SUPPORT</td>
                    <td>AC -  NAME PALTE SUPPORT</td>
                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>AC -  NAME PALTE SUPPORT</td>
                    <td>AC -  NAME PALTE SUPPORT</td>

                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>AC -  NAME PALTE SUPPORT</td>
                    <td>AC -  NAME PALTE SUPPORT</td>

                </tr>
                <tr>
                    <td>AC - AIR SEAL</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                </tbody>
            </table>
            <div>Count :100</div>
        </div>
    </div>
</px-card>
