<px-card header-text="Inspection Codes Code List">
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            border: 1px solid black;
        }

        table,


        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: left;
            border: 1px solid black;
        }

        tbody>tr td:first-child {
            color: #3573c5 !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="layout" style="width: 60%" >
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addinspectionCode">Add</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="">Delete</a></span>
        </div>
    </div>
    <div class="layout" style="width:60%">
        <div class="layout__item" style="overflow-y: scroll;height:300px ">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th>Code</th>
                    <th> Value</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="#editinspectionCode">02 </a> </td>
                    <td>02</td>
                </tr>
                <tr>
                    <td>11110</td>
                    <td>11110</td>

                </tr>
                <tr>
                    <td>11120</td>
                    <td>11120</td>

                </tr>
                <tr>
                    <td>11130</td>
                    <td>11130</td>

                </tr>
                <tr>
                    <td>12130</td>
                    <td>12130</td>

                </tr>
                <tr>
                    <td>11560</td>
                    <td>11560</td>

                </tr>
                <tr>
                    <td>11760</td>
                    <td>11560</td>

                </tr>
                <tr>
                    <td>18560</td>
                    <td>18560</td>

                </tr>
                <tr>
                    <td>19560</td>
                    <td>19560</td>

                </tr>
                <tr>
                    <td>BV-BT2</td>
                    <td>AC - AIR SEAL</td>

                </tr>
                <tr>
                    <td>21560</td>
                    <td>21560</td>

                </tr>
                <tr>
                    <td>32560</td>
                    <td>32560</td>
                </tr>
                <tr>
                    <td>41560</td>
                    <td>41560</td>

                </tr>
                <tr>
                    <td>51560</td>
                    <td>51560</td>

                </tr>
                <tr>
                    <td>61560</td>
                    <td>61560</td>

                </tr>
                <tr>
                    <td>71560</td>
                    <td>71560</td>

                </tr>
                <tr>
                    <td>81560</td>
                    <td>81560</td>

                </tr>
                <tr>
                    <td>91560</td>
                    <td>91560</td>

                </tr>
                </tbody>
            </table>
            <div >Count :100</div>
        </div>
    </div>
</px-card>
