<px-card>
    <img src="images/aviation-new.png" alt="" height="430" width="100%">
    <div class="layout">
        <div class="layout__item u-1/2">
            <marquee behavior="scroll" direction="up" scrollamount="5" id="left-content" height="290">
                <h3 class="title">Business Challenge</h3>
                <ul class="bChallenge">
                    <li>To predict the failure events for a long term(>5yrs) period while considering the following
                    </li>
                    <li>Past Usage of the product
                    </li>
                    <li>Factors influencing performance
                    </li>
                    <li>Current status of the major components
                    </li>
                    <li>Different failure reasons and types (fixed and variable)
                    </li>
                    <li>Current hardware issues
                    </li>
                    <li>Future technical upgrades
                    </li>
                    <li>Future usage of the product
                    </li>
                </ul>
                <h3 class="title">Solution</h3>
                <ul>
                    <li>Forecasting failure rates of product through simulation techniques and estimating cost of service</li>
                    <li>Optimization to manage costs and failures during life of contract</li>
                    <li>Cash flow forecasting over the term of contract ensuring the required margin and deferred balance for business</li>
                    <li>Risk based pricing - Step pricing; Price with Risk sharing; Structuring payment flow across time</li>
                    <li>Customized Solutions - Value positioning (risk versus return) of different types of service contracts</li>
                    <li>Sensitivity Analysis</li>
                </ul>
                <h3 class="title">Genpact Solution</h3>
                <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.</p>
                <h3 class="title">Delivered Impact</h3>
                <ul class="dImpact">
                    <li>Priced many customized deals (ranging from $200M onwards) with a range of options and a host of risk-return scenarios.</li>
                    <li>Operational - Technical Risks-Covered by Forecasting of Cost</li>
                    <li>Financial Risks - Credit Risk – Covered by Financial Evaluation</li>
                    <li>Contractual / Compliance Risk - Involves Legal – Covered at the time of Proposal generation</li>
                    <li>Market Risk – Global Economics – Covered by Financial Evaluation</li>
                </ul>
            </marquee>
        </div>
        <div class="layout__item u-1/2">
            <div id="right-content">
                <img src="images/ge_turbine.png" alt="">
            </div>
        </div>
    </div>
</px-card>
