<px-card header-text="Component">
    <style>
        table
        {
            border:1px solid black;
            border-collapse: collapse;
            width:100%;
        }
        table, th, td {
            border-bottom: 1px solid #ddd;
            text-align: left;
            padding: 2px !important;
        }
        tbody>tr td:first-child{
            color:#3573c5 !important;
        }
        tr:nth-child(even) {background-color: #f2f2f2}
    </style>
    <div class="layout">
        <div class="layout__item" style="text-align: right"><a href="#/addComp">Add</a>
        </div>
    </div>
        <div class="layout">
            <div class="layout__item u-1/2" style="overflow-y: scroll;height:300px">

                <table>
                    <thead><tr><th>Components</th></tr></thead>
                    <tbody>
                        <tr><td><a href="#editComponent"> OLD 701</a></td></tr>
                        <tr><td>OLD 702</td></tr>
                        <tr><td>OLD 703</td></tr>
                        <tr><td>OLD 704</td></tr>
                        <tr><td>011</td></tr>
                        <tr><td>012</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr><tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr><tr><td>013</td></tr>
                        <tr><td>013</td></tr>
                        <tr><td>013</td></tr>



                    </tbody>
                </table>
            </div>
        </div>


</px-card>
