<px-card header-text="Users">
    <style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }

    table,
    th,
    td {
        border-bottom: 1px solid #ddd;
        text-align: center;
        border: 1px solid black;
    }

    tbody>tr td:first-child {
        color: #3573c5 !important;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    </style>
    <script>
        function openwindow()

        {

            window.open("#editUser","_blank","height=200,width=400,status=yes,toolbar=no,menubar=no,location=no")

        }

    </script>
    <div class="layout">
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addUser">Add</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="">Delete</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="#manageInactiveUsers">Manage Inactive Users</a></span>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item" style="overflow-y: scroll;height:300px">
            <table style="border:1px solid black;width:100%">
                <thead>
                    <tr style="background-color:#C4BCBC" >
                        <td>SSO</td>
                        <td>Last Name</td>
                        <td>First Name</td>
                        <td>E-mail</td>
                        <td>User Type</td>
                        <td>Site</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <!--<td><a href="#editUser"> 105041445</a></td>-->
                        <td><a href onClick="javascript:openwindow()");> 105041445</a></td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                    <tr>
                        <td>105041445</td>
                        <td>A</td>
                        <td>Ravi Vardhan N</td>
                        <td>abc@ge.com</td>
                        <td>QCR/SDR</td>
                        <td>Florence,Italy</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div data-position="fixed">Count :100</div>
</px-card>
