<px-card header-text="Role Codes Code List">
    <style>
        table
        {
            border:1px solid black;
            border-collapse: collapse;
            width:100%;

        }
        table, th, td {
            border-bottom: 1px solid #ddd;
            text-align: left;
        }
        tbody>tr td:first-child{
            color:#3573c5 !important;
        }
        tr:nth-child(even) {background-color: #f2f2f2}

        .layout_overflow{
            overflow-y: scroll;
            height:300px;}
        }
    </style>
    <div class="layout">
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addRoleCode">Add</a></span>
            <span>|</span>
            <span><a href="">Delete</a></span>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item layout_overflow" >
            <table >
                <thead>
                    <tr style="background-color:#C4BCBC">
                        <th>Code</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AAA</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr> <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>
                <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr> <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr> <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr> <tr>
                    <td>AC Engineer</td>
                    <td>AC Engineer</td>
                </tr>




                </tbody>
            </table>
            <div>count:100</div>
        </div>
    </div>
</px-card>
