<px-card>
    <style>
    .layout_outer {
        padding: 5px !important;
    }
    
    input {
        width: 255px
    }
    
    .sort_select {
        width: 125px;
    }
    
    .queue_select {
        width: 255px;
    }
    </style>
    <div class="layout">
        <div class="layout__item">
            <h4>Select Columns</h4></div>
    </div>
    <div class="layout layout_outer">
        <div class="layout__item">
            <label for="">Name:&nbsp;</label>
            <input type="text" value="Naga preference" />
        </div>
    </div>
    <div class="layout layout_outer ">
        <div class="layout__item ">
            <label for="">Sort By:</label>
            <select name="" id="" class="sort_select">
                <option value="">NCR#</option>
            </select>
            <select name="" id="" class="sort_select">
                <option value="">Descending</option>
            </select>
        </div>
    </div>
    <div class="layout layout_outer ">
        <div class="layout__item ">
            <label for="">Queue:</label>
            <select name="" id="" class="queue_select">
                <option value="">AC Engineer</option>
                <button>Add</button>
            </select>
        </div>
    </div>
    <div class="layout layout_outer ">
        <div class="layout__item ">
            <label for="">Column:</label>
            <select name="" id="" class="queue_select">
                <option value="">Append Note</option>
                <button>Add</button>
            </select>
        </div>
    </div>
    <hr>
    <div class="layout">
        <div class="layout__item">
            <h4>Preview</h4></div>
    </div>
</px-card>
