<px-card header-text="Areas">
    <style>
        table
        {
            border-collapse: collapse;
            width:100%;

        }
        table, th, td {
            border-bottom: 1px solid #ddd;
            text-align: center;
        }
        tbody>tr td:nth-child(2){
            color:#3573c5 !important;
        }
        tr:nth-child(even) {background-color: #f2f2f2}

    </style>
    <div>
        <table>
            <thead>
                <th></th>
                <th>Area</th>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td><a href="#editArea"> Cell/Cald</a></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr> <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr> <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr> <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Cell/Maintainence</td>
                </tr>

            </tbody>
        </table>
    </div>
</px-card>
