<px-card header-text="Queues">
    <style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
    }

    table,
    th,
    td {
        border-bottom: 1px solid #ddd;
        text-align: center;
        border: 1px solid black;
    }

    tbody>tr td:first-child {
        color: #3573c5 !important;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .layout_overflow {
        overflow-y: scroll;
        height: 300px;
    }
    </style>
    <div class="layout">
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addQueues">Add</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="">Delete</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="#manageInactiveQueue">Manage Inactive Queues</a></span>
        </div>
    </div>
    <div class="layout">
        <div class="layout__item layout_overflow">
            <table>
                <thead>
                    <tr style="background-color:#C4BCBC">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Escalation Time</th>
                        <th>Escalation Recipient</th>
                        <th>Email</th>
                        <th>As Shipped Enabled</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#editQueues"> AC Engineer</a></td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>AC Engineer</td>
                        <td>AC Engineer</td>
                        <td>24</td>
                        <td>germano.provanzano</td>
                        <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        <td><i class="fa fa-ship" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>count:100</div>
        </div>
    </div>
</px-card>
