<px-card header-text="Operation Codes Code List">
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            border: 1px solid black;
        }

        table,


        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: left;
            border: 1px solid black;
        }

        tbody>tr td:first-child {
            color: #3573c5 !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="layout" style="width: 60%" >
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addoperationCode">Add</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="">Delete</a></span>
        </div>
    </div>
    <div class="layout" style="width:60%">
        <div class="layout__item" style="overflow-y: scroll;height:300px ">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th>Code</th>
                    <th> Value</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="#editoperationcode">Component Buy Assembly</a> </td>
                    <td>Component Buy Assembly</td>
                </tr>
                <tr>
                    <td>Component By Casting</td>
                    <td>Component By Casting</td>

                </tr>
                <tr>
                    <td>Component By Cleaning</td>
                    <td>Component By Cleaning</td>

                </tr>
                <tr>
                    <td>Component By Design</td>
                    <td>Component By Design</td>

                </tr>
                <tr>
                    <td>Component By Internal Moving</td>
                    <td>Component By Internal Moving</td>

                </tr>
                <tr>
                    <td>Component By Machined</td>
                    <td>Component By Machined</td>

                </tr>
                <tr>
                    <td>Component By Management</td>
                    <td>Component By Management</td>

                </tr>
                <tr>
                    <td>Component By Modularization</td>
                    <td>Component By Modularization</td>

                </tr>
                <tr>
                    <td>Component By Assembly</td>
                    <td>Component By Assembly</td>

                </tr>
                <tr>
                    <td>Component By N.A.</td>
                    <td>Component By N.A</td>

                </tr>
                <tr>
                    <td>Component By Planning</td>
                    <td>Component By Planning</td>

                </tr>
                <tr>
                    <td>Component By Receiving</td>
                    <td>Component By Receiving</td>
                </tr>
                <tr>
                    <td>Component By Shipping</td>
                    <td>Component By Shipping</td>

                </tr>
                <tr>
                    <td>Component By Special Process</td>
                    <td>Component By Special Process</td>

                </tr>
                <tr>
                    <td>Component By Test</td>
                    <td>Component By Test</td>

                </tr>
                <tr>
                    <td>Component By Transportation</td>
                    <td>Component By Transportation</td>

                </tr>
                <tr>
                    <td>Component By Out Assembly</td>
                    <td>Component By Out Assembly</td>

                </tr>
                <tr>
                    <td>Component By Out Casting</td>
                    <td>Component By Out Casting</td>

                </tr>
                </tbody>
            </table>
            <div st>Count :100</div>
        </div>
    </div>
</px-card>
