<px-card header-text="Product Codes Code List">
    <style>
        table {
            border-collapse: collapse;
            width: 60%;
            border: 1px solid black;
        }

        table,


        th,
        td {
            border-bottom: 1px solid #ddd;
            text-align: left;
            border: 1px solid black;
        }

        tbody>tr td:first-child {
            color: #3573c5 !important;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="layout" style="width: 60%" >
        <div class="layout__item u-1/2"></div>
        <div class="layout__item u-1/2" style="text-align: right;">
            <span><a href="#addproductCode">Add</a></span>
            <span class="navbar-top__line">|</span>
            <span><a href="">Delete</a></span>
        </div>
    </div>
    <div class="layout" style="width:60%">
        <div class="layout__item" style="overflow-y: scroll;height:300px ">
            <table style="border:1px solid black;width:100%">

                <thead >
                <tr style="background-color:#C4BCBC;">
                    <th>Code</th>
                    <th> Value</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="#editproductCode">AC-BL </a> </td>
                    <td>AC-BL</td>
                </tr>
                <tr>
                    <td>AC-CKL</td>
                    <td>AC-CKL</td>

                </tr>
                <tr>
                    <td>AC_ML</td>
                    <td>AC_ML</td>

                </tr>
                <tr>
                    <td>AC-PP</td>
                    <td>AC-PP</td>

                </tr>
                <tr>
                    <td>AC-Acessory</td>
                    <td>AC-Acessory</td>

                </tr>
                <tr>
                    <td>AC-Accessory For Condenser</td>
                    <td>AC-Accessory For Condenser</td>

                </tr>
                <tr>
                    <td>AC-Electrical System</td>
                    <td>AC-Electrical System</td>

                </tr>
                <tr>
                    <td>AC-Pressure Parts</td>
                    <td>AC-Pressure Parts</td>

                </tr>
                <tr>
                    <td>AC-Steel Structure</td>
                    <td>AC-Steel Structure</td>

                </tr>
                <tr>
                    <td>BV-ACTUATOR</td>
                    <td>BV-ACTUATOR</td>

                </tr>
                <tr>
                    <td>BV-BODY</td>
                    <td>BV-BODY</td>

                </tr>
                <tr>
                    <td>BV-STEM EXTENSION</td>
                    <td>BV-STEM EXTENSION</td>
                </tr>
                <tr>
                    <td>BV-STEM FLANGE</td>
                    <td>BV-STEM FLANGE</td>

                </tr>
                <tr>
                    <td>BV-TRIM</td>
                    <td>BV-TRIM</td>

                </tr>
                <tr>
                    <td>BV-ACCESSORIES</td>
                    <td>BV-ACCESSORIES</td>

                </tr>
                <tr>
                    <td>CC-BEARING SUPPORT</td>
                    <td>CC-BEARING SUPPORT</td>

                </tr>
                <tr>
                    <td>CC-BEARING</td>
                    <td>CC-BEARING</td>

                </tr>
                <tr>
                    <td>CC-CASING</td>
                    <td>CC-CASING</td>

                </tr>
                </tbody>
            </table>
            <div >Count :100</div>
        </div>
    </div>
</px-card>
