<px-card>
    <style>
    .layout-outer {
        padding: 10px !important;
    }
    </style>
    <div class="layout layout-outer">
        <div class="layout__item">
            <input type="radio" checked>
            <b>Select PO</b>
        </div>
    </div>
    <div class="layout layout-outer" style="margin-left: 10px">
        <div class="layout__item">
            <label for="">Supplier:</label>
            <select name="" id="" style="width:100px;"></select>
            <button>Search</button>
        </div>
    </div>
    <div class="layout layout-outer" style="margin-left: 10px">
        <div class="layout__item">
            <div style="width:400px;height:300px;border: 1px solid black;">No Data to Display</div>
        </div>
    </div>
    <div class="layout layout-outer">
        <div class="layout__item">
            <input type="radio" name="same">
            <b>Use Supplier Name and GSL Code Only</b>
            <br>
            <input type="radio" name="same">
            <b>Enter Manually</b>
            <hr>
        </div>
    </div>
    <div class="layout layout-outer">
        <div class="layout__item">
            <button>OK</button>
            <button>Cancel</button>
        </div>
    </div>
</px-card>
